img.medium{
    width:300px;
    height: 200px;
    margin:30px;
}

.wrapper2{
    margin-left: auto;
    margin-right: auto;
}


.container {
        position: relative; 
        max-width: 300px; /* Maximum width */
        float: left;
        margin: 30px;

      }
      
      .container .content {
        position: absolute; /* Position the background text */
        bottom: 0; /* At the bottom. Use top:0 to append it to the top */
        background: #4aaaa5; /* Fallback color */
        color: #ffffff; /* Grey text */
        width: 300px; /* Full width */
        text-align: center;
        margin:30px;
      }

.title{
        color: #ffffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.2em;
        padding:10px;
        text-align: center;
        letter-spacing: 0.05em;       
}
